<!-- <div class="sneaker-container" [ngClass]="sneaker.isOnSale ? 'available' : 'out'" >
    <h2>{{sneaker.name}}</h2>
    
    <img class="sneaker-img" src="{{sneaker.imageUrl}}" alt="{{sneaker.name}}">
    <span class="sneaker-price" [ngClass]="sneaker.isOnSale ? '' : 'out'">{{sneaker.price}} €</span>

    <div class="sneaker-quantity" *ngIf="sneaker.isOnSale">
        <button (click)="decrementQuantity()">-</button>
        <span>{{sneaker.quantityInCart}}</span>
        <button (click)="incrementQuantity()">+</button>
    </div>

</div> -->
